@model AdminPanelViewModel
@{
	ViewData["Title"] = "Admin Panel";
}


<h1 class="text-center mt-2">Admin Panel</h1>

<section>

	<h2>Reservations</h2>

	@if (Model?.Reservations?.Any() == true)
	{
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">At</th>
					<th scope="col">Name</th>
					<th scope="col">Email</th>
					<th scope="col">Quantity</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var reservation in Model.Reservations)
				{
					<tr>
						<td>@reservation.At</td>
						<td>@reservation.Name</td>
						<td>@reservation.Email</td>
						<td>@reservation.Quantity</td>
						<td>
							<a class="btn btn-link"
							   asp-controller="Reservations"
							   asp-action="Edit"
							   asp-route-id="@reservation.Id">
								Edit
							</a>
							<a class="btn btn-link"
							   asp-controller="Reservations"
							   asp-action="Delete"
							   asp-route-id="@reservation.Id"
							   onclick="return doubleCheckBeforeDelete('reservation')">
								Delete
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>

		<a asp-controller="Dishes" asp-action="Create" class="btn btn-primary">Add New Reservation</a>
	}
	else
	{
		<p>No reservations at this time</p>
		<a asp-controller="Dishes" asp-action="Create" class="btn btn-primary">Add New Reservation</a>

	}
</section>

<hr aria-hidden="true">

<section>

	<h2>Dishes</h2>

	@if (Model?.Dishes?.Any() == true)
	{
		<table class="table table-striped mt-3">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Description</th>
					<th scope="col">Price</th>
					<th scope="col">Available</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var dish in Model.Dishes)
				{
					<tr>
						<td>@dish.Name</td>
						<td>@dish.Description</td>
						<td>@dish.Price.ToString("c")</td>
						<td>@dish.IsAvailable</td>
						<td>
							<a class="btn btn-link"
							   asp-controller="Dishes"
							   asp-action="Edit"
							   asp-route-id="@dish.Id">
								Edit
							</a>
							<a class="btn btn-link"
							   asp-controller="Dishes"
							   asp-action="Delete"
							   asp-route-id="@dish.Id"
							   onclick="return doubleCheckBeforeDelete('dish')">
								Delete
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
		<a asp-controller="Dishes" asp-action="Create" class="btn btn-primary">Add New Dish</a>
	}
	else
	{
		<p>No dishes available at this time</p>
		<a asp-controller="Dishes" asp-action="Create" class="btn btn-primary">Add New Dish</a>
	}
</section>






@section Scripts {
	<script>
		function doubleCheckBeforeDelete(itemType) {
			return confirm(`Delete ${itemType}, are you sure?`);
		}
	</script>
}