@model List<Dish>


@if (Model != null && Model.Any())
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Price</th>
				<th>Available</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var dish in Model)
			{
				<tr>
					<td>@dish.Name</td>
					<td>@dish.Description</td>
					<td>@dish.Price.ToString("c")</td>
					<td>@dish.IsAvailable</td>
					<td>
						<a class="btn btn-link"
						   asp-controller="Dishes"
						   asp-action="Edit"
						   asp-route-id="@dish.Id">
							Edit
						</a>
					</td>
					<td>
						<a class="btn btn-link"
						   asp-controller="Dishes"
						   asp-action="delete"
						   asp-route-id="@dish.Id"
						   onclick="return doubleCheckBeforeDelete()">
							Delete
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

<a asp-controller="dishes" asp-action="create" class="btn btn-primary mt-3"> Add</a>


@section Scripts {

	<script>
		function doubleCheckBeforeDelete() {
			return confirm("Delete dish, are you sure?")
		}

	</script>
}