@model List<Reservation>



@if (Model != null && Model.Count() > 0)
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th>At</th>
				<th>Name</th>
				<th>Email</th>
				<th>Quantity</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var reservation in Model)
			{
				<tr>
					<td>@reservation.At</td>
					<td>@reservation.Name</td>
					<td>@reservation.Email</td>
					<td>@reservation.Quantity</td>
					<td>
						<a class="btn btn-link"
						   asp-controller="Reservations"
						   asp-action="Edit"
						   asp-route-id="@reservation.Id">
							Edit
						</a>
					</td>
					<td>
						<a class="btn btn-link"
						   asp-controller="Reservations"
						   asp-action="delete"
						   asp-route-id="@reservation.Id"
						   onclick="return doubleCheckBeforeDelete()">
							Delete
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

<a asp-controller="dishes" asp-action="create" class="btn btn-primary mt-3">Add </a>


@section Scripts {

	<script>
		function doubleCheckBeforeDelete() {
			return confirm("Delete reservation, are you sure?")
		}

	</script>
}

